.farm-outer{
	display:none;
}
.scroller-outer{
	margin-left:0;
	.scroller-inner{
		padding-left:0;
	}
}

figure.chart-wrapper{
	#g-glyphosate-ready-desktop .g-aiPstyle0 {
		line-height: 25px;
	}
}

.blurb-wrapper{
	padding:15px 0 20px 0;
	&.active{background: transparent;}

.blurb-label{
	position: relative;
	&:before{
		content:"";
	}
	
}
}


