@mixin fill-mode($direction){
	@if $direction == "f"{
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		} else {
			animation-fill-mode: backwards;
			-webkit-animation-fill-mode: backwards;
			-moz-animation-fill-mode: backwards;
			-ms-animation-fill-mode: backwards;
			-o-animation-fill-mode: backwards;
		}
	}

	@mixin translate($x, $y){
		transform:translate($x, $y);
		-o-transform:translate($x, $y);
		-webkit-transform:translate($x, $y);
		-moz-transform:translate($x, $y);
		-ms-transform:translate($x, $y);

	}

	@keyframes pulse-to-left {
		0%{
			transform: translate(0,0);
			-webkit-transform: translate(0,0);

		}
		50%{
			transform: translate(-3px,0);
			-webkit-transform: translate(-3px,0);
		}

		100%{
			transform: translate(0,0);
			-webkit-transform: translate(0,0);
		}

	}
	
	@keyframes pulse-down{
		from{
			transform: translate(0,0);
			-webkit-transform: translate(0,0);
		}

		to{
			transform: translate(0,3px);
			-webkit-transform: translate(0,3px);
		}
	}

	@keyframes spraying-sprayer {
		0%{
			opacity:0;
			transform: translate(0,0);
			-webkit-transform: translate(0,0);

		}
		4%{
			opacity:1;
		}

		100%{
			opacity:1;
			transform: translate(-320%,201%);
			-webkit-transform: translate(-320%,201%);
		}
	}

	@keyframes spraying-spray {
		0%{
			opacity:0;
			transform: translate(0,0);
			-webkit-transform: translate(0,0);

		}
		20%{
			opacity:.75;
		}
		50%{
			opacity: .75;
		}
		100%{
			opacity:0;
			transform: translate(-300%,128%);
			-webkit-transform: translate(-300%,128%);
		}
	}

	@keyframes weed-die {
		0%{opacity:1}	
		100%{opacity:0}
	}

	@keyframes weed-live {
		0%{opacity:0;}
		100% {opacity:1;}

	}

	@keyframes truck-go {
		0%{
			transform:translate(-38px,0) scale(.8);
			-webkit-transform:translate(-38px,0) scale(.8);
		}

		100%{
			transform:translate(702px,-270px) scale(.8);
			-webkit-transform:translate(702px,-270px) scale(.8);
		}
	}






// #######################
// #######################
// FIRST PANEL
// #######################
// #######################


body[data-triggered='weeds-bad']{
	@include showtooltip();
	$weed_random_delay1: random(3000);
	$weed_random_delay2: random(3000);
	$weed_random_delay3: random(3000);
	$weed_random_delay4: random(3000);



	.alive{
		.corn1, .corn2, .corn3, .corn4, .corn5, .corn6 {
			opacity:1;
		}
	}
	.alive .weed1{
		opacity:1;
		transition-delay:$weed_random_delay1 + 1500ms;
	}

	.alive .weed1{
		opacity:1;
		transition-delay:$weed_random_delay2 + 500ms;
	}

	.alive .weed2{
		opacity:1;
		transition-delay:$weed_random_delay3 + 1500ms;
	}

	.alive .weed3{
		opacity:1;
		transition-delay:$weed_random_delay4 + 500ms;
	}
	.alive .weed5{
		opacity:1;
		transition-delay:$weed_random_delay1 + 1800ms;
	}

	.alive .weed6{
		opacity:1;
		transition-delay:$weed_random_delay2 + 800ms;
	}

	.alive .weed7{
		opacity:1;
		transition-delay:$weed_random_delay3 + 1800ms;
	}

	.alive .weed8{
		opacity:1;
		transition-delay:$weed_random_delay4 + 800ms;
	}
	.alive .weed9{
		opacity:1;
		transition-delay:$weed_random_delay1 + 800ms;
	}

	.alive .weed10{
		opacity:1;
		transition-delay:$weed_random_delay2 + 1600ms;
	}

	.alive .weed11{
		opacity:1;
		transition-delay:$weed_random_delay3 + 1300ms;
	}

	// .alive .weed12{
	// 	opacity:1;
	// 	transition-delay:$weed_random_delay4 + 200ms;
	// }

	.alive .weed13{
		opacity:1;
		transition-delay:$weed_random_delay4 + 950ms;
	}
}


// #######################
// #######################
// SECOND PANEL
// #######################
// #######################

@keyframes can-go {
	0%{
	}

	50%{
		opacity:1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}

	100%{
		opacity:0;
		top: 36%;
		left: 55%;
		transform: scale(0);
		-webkit-transform: scale(0);

	}
}



body[data-triggered='expensive-weed-control']{
	@include notooltip();
	#can1{
		opacity:1;
		top:5%;		
		left:5%;
		animation-name:can-go;
		animation-duration: 3s;
		animation-iteration-count: 3;
		animation-delay:0;
		@include fill-mode('f');
	}

	#can2{
		opacity:1;
		top:30%;
		left:5%;
		animation-name:can-go;
		animation-duration: 3s;
		animation-iteration-count: 3;
		animation-delay:.5s;
		@include fill-mode('f');
	}

	#can3{
		opacity:1;
		top:55%;
		left:5%;
		animation-name:can-go;
		animation-duration: 3s;
		animation-iteration-count: 3;
		animation-delay:1s;
		@include fill-mode('f');
	}

	#sprayer{
		transition:all 200ms;
		-webkit-transition:all 200ms;
		opacity:1;
		animation-duration: 16s;
		animation-name: spraying-sprayer;
		animation-iteration-count: infinite;
		animation-delay:10.5s;
	}

	#sprayer-spray{
		transition:all 200ms;
		-webkit-transition:all 200ms;
		animation-name: spraying-spray;
		animation-duration: 16s;
		animation-iteration-count: infinite;
		animation-delay:10.5s;
	}

.alive .weed1{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:17s;
	@include fill-mode('f');
}

.alive .weed2{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:17.5s;
	@include fill-mode('f');
}

.alive .weed5{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:15.2s;
	@include fill-mode('f');
}

.alive .weed7{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:16.5s;
	@include fill-mode('f');
}

.alive .weed10{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:13.5s;
	@include fill-mode('f');
}

.dead .weed1{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:17s;
	@include fill-mode('f');
}
.dead .weed2{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:17.5s;
	@include fill-mode('f');
}

.dead .weed5{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:15.2s;
	@include fill-mode('f');
}

.dead .weed7{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:16.5s;
	@include fill-mode('f');
}

.dead .weed10{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:13.5s;
	@include fill-mode('f');
}
.alive{
	.corn1, .corn2, .corn3, .corn5{
		// opacity:1;
	}
}

.blank{
	.blank1, .blank2, .blank3, .blank5 {
		opacity:1;
	}
}
}

// #######################
// #######################
// THIRD PANEL
// #######################
// #######################

body[data-triggered='glyphosate-ready']{
	@include notooltip();

	#can4{
		transform:scale(2);
		opacity:1;
		top:30%;
		left:5%;
		animation-name:can-go;
		animation-duration: 3s;
		animation-iteration-count: 3;
		animation-delay:.5s;
		@include fill-mode('f');
	}

	#sprayer{
		transition:all 200ms;
		-webkit-transition:all 200ms;
		opacity:1;
		animation-duration: 16s;
		animation-name: spraying-sprayer;
		animation-iteration-count: infinite;
		animation-delay:10s;
}



#sprayer-spray{
	transition:all 200ms;
	-webkit-transition:all 200ms;
	animation-name: spraying-spray;
	animation-duration: 16s;
	animation-iteration-count: infinite;
	animation-delay:10s;

}

.alive{
	.corn1, .corn2, .corn3, .corn5{
		opacity:1;
	}
}

.alive .weed1{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:17s;
	@include fill-mode('f');
}

.alive .weed2{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:17.5s;
	@include fill-mode('f');
}

.alive .weed5{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:15.2s;
	@include fill-mode('f');
}

.alive .weed7{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:16.5s;
	@include fill-mode('f');
}

.alive .weed10{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:13.5s;
	@include fill-mode('f');
}

.dead .weed1{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:17s;
	@include fill-mode('f');
}
.dead .weed2{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:17.5s;
	@include fill-mode('f');
}

.dead .weed5{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:15.2s;
	@include fill-mode('f');
}

.dead .weed7{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:16.5s;
	@include fill-mode('f');
}

.dead .weed10{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:13.5s;
	@include fill-mode('f');
}


}

// #######################
// #######################
// FOURTH PANEL
// #######################
// #######################

body[data-triggered='resistance-develops']{
	@include notooltip();
	#sprayer{
		transition:all 200ms;
		-webkit-transition:all 200ms;
		opacity:1;
		animation-duration: 16s;
		animation-name: spraying-sprayer;
		animation-iteration-count: infinite;
	}

	#sprayer-spray{
		transition:all 200ms;
		-webkit-transition:all 200ms;
		animation-name: spraying-spray;
		animation-duration: 16s;
		animation-iteration-count: infinite;

	}
.alive{
	.corn1, .corn2, .corn3, .corn5{
		opacity:1;
	}
}

.alive .weed1{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:7s;
	@include fill-mode('f');
}

.alive .weed2{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:7.5s;
	@include fill-mode('f');
}

.alive .weed5{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:4.9s;
	@include fill-mode('f');
}

.alive .weed7{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:6.1s;
	@include fill-mode('f');
}

.alive .weed10{
	opacity:1;
	animation-duration: .2s;
	animation-name: weed-die;
	animation-iteration-count: 1;
	animation-delay:3.2s;
	@include fill-mode('f');
}

.dead .weed1{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:7s;
	@include fill-mode('f');
}
.dead .weed2{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:7.5s;
	@include fill-mode('f');
}

.dead .weed5{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
animation-delay:4.9s;
	@include fill-mode('f');
}

.resistant .weed7{
	opacity:0;
	animation-duration: 2s;
	animation-name: weed-live;
	animation-iteration-count: infinite;
	animation-delay:6.1s;
	@include fill-mode('f');
	&:before{
		display:block;
	}
}

.dead .weed10{
	opacity:0;
	animation-duration: .2s;
	animation-name: weed-live;
	animation-iteration-count: 1;
	animation-delay:3.2s;
	@include fill-mode('f');
}

}

// #######################
// #######################
// FIFTH PANEL
// #######################
// #######################

body[data-triggered='resistance-distills']{
	$weed_random_delay1: random(3000);
	$weed_random_delay2: random(3000);
	$weed_random_delay3: random(3000);
	$weed_random_delay4: random(3000);
.alive{
	.corn1, .corn2, .corn3, .corn5, .corn4, .corn6{
		opacity:1;
	}
}
.resistant{
	.weed1, .weed2, .weed5, .weed6, .weed7, .weed9, .weed10,.weed11{ 
		opacity:0;
		animation-duration: 1.5s;
		animation-name: weed-live;
		animation-iteration-count: infinite;
		animation-delay:0s;
		&:before{
			display:block;
		}
}	
}

#truck{
	opacity:1;
	animation-duration: 12s;
	animation-name: truck-go;
	animation-iteration-count: 1;
	animation-delay:10s;
}
}

// #######################
// #######################
// SIXTH PANEL
// #######################
// #######################

body[data-triggered='resistance-spreads']{
	@include notooltip();
.resistant{
	.weed7{ 
		opacity:0;
		animation-duration: 1.5s;
		animation-name: weed-live;
		animation-iteration-count: infinite;
		animation-delay:0s;
		&:before{
			display:block;
		}
}	
}


@keyframes seed-flies{
	0%{
		transform: translate(0,0) scale(1) rotate(0);
		-webkit-transform: translate(0,0) scale(1) rotate(0);
	}

	100%{
		transform: translate(700px, -400px) scale(.9) rotate(399grad);
		-webkit-transform: translate(700px, -400px) scale(.9) rotate(399grad);

	}
}

@keyframes seed-flies2{
	0%{
		transform: translate(0,0) scale(1) rotate(0);
		-webkit-transform: translate(0,0) scale(1) rotate(0);
	}

	100%{
		transform: translate(200px, -400px) scale(.9) rotate(399grad);
		-webkit-transform: translate(200px, -400px) scale(.9) rotate(399grad);

	}
}

@keyframes seed-flies3{
	0%{
		transform: translate(0,0) scale(1) rotate(0);
		-webkit-transform: translate(0,0) scale(1) rotate(0);
	}

	100%{
		transform: translate(-250px, -400px) scale(.9) rotate(399grad);
		-webkit-transform: translate(-250px, -400px) scale(.9) rotate(399grad);

	}
}

@keyframes seed-flies4{
	0%{
		transform: translate(0,0) scale(1) rotate(0);
		-webkit-transform: translate(0,0) scale(1) rotate(0);
	}

	100%{
		transform: translate(-25px, -400px) scale(.9) rotate(399grad);
		-webkit-transform: translate(-25px, -400px) scale(.9) rotate(399grad);

	}
}

#seed{
	opacity:1;
	top: 60%;
	left: 24%;
	animation-duration: 10s;
	animation-name: seed-flies;
	animation-iteration-count: infinite;
	animation-delay:.5s;

}

#seed2{
	opacity:1;
	top: 60%;
	left: 24%;
	animation-duration: 10s;
	animation-name: seed-flies2;
	animation-iteration-count: infinite;
	animation-delay:1.5s;

}

#seed3{
	opacity:1;
	top: 60%;
	left: 24%;
	animation-duration: 10s;
	animation-name: seed-flies3;
	animation-iteration-count: infinite;
	animation-delay:2.2s;

}

#seed4{
	opacity:1;
	top: 60%;
	left: 24%;
	animation-duration: 10s;
	animation-name: seed-flies4;
	animation-iteration-count: infinite;
	animation-delay:1s;

}

$time_bird_1:random(2000) + 3500 + ms;
	$time_bird_2:random(2000) + 3500 +ms;
	$time_bird_3:random(2000) + 3000 +ms;
	$time_bird_4:random(2000) + 2500 +ms;
	$time_bird_5:random(2000) + 4500 +ms;
	$time_bird_6:random(2000) + 2250 +ms;


	#bird1{
		opacity:1;
		@include translate(100px,100px);
		transition:transform $time_bird_1;
		-webkit-transition:transform $time_bird_1;
		transition-delay: 5250ms;
		-webkit-transition-delay: 5250ms;
	}
	#bird2{
		opacity:1;
		@include translate(-700px,-100px);
		transition:transform $time_bird_2;
		-webkit-transition:transform $time_bird_2;
		transition-delay: 6250ms;
		-webkit-transition-delay: 6250ms;

	}
	#bird3{
		opacity:1;
		@include translate(0,-250px);
		transition:transform $time_bird_3;
		-webkit-transition:transform $time_bird_3;
		transition-delay: 5750ms;
		-webkit-transition-delay: 5750ms;

	}
	#bird4{
		opacity:1;
		@include translate(-700px,600px);
		transition:transform $time_bird_4;
		-webkit-transition:transform $time_bird_4;
		transition-delay: 6750ms;
		-webkit-transition-delay: 6750ms;
	}
	#bird5{
		opacity:1;
		@include translate(-800px,250px);
		transition:transform $time_bird_5;
		-webkit-transition:transform $time_bird_5;
		transition-delay: 5850ms;
		-webkit-transition-delay: 5850ms;
	}
	#bird6{
		opacity:1;
		@include translate(-700px,400px);
		transition:transform $time_bird_6;
		-webkit-transition:transform $time_bird_6;
		transition-delay: 5350ms;
		-webkit-transition-delay: 5350ms;

	}
}