// VARIABLES 
$farm_width_large:700px;
$farm_width_medium:500px;
$farm_width_small:400px;

$corn_color: #FFD773;
$soy_color: #6F8D5C;
$cotton_color: #DFDFDF;
$weed_label_color:rgba(255,0,0,.7);

$blurb_wrapper_bg:#ffffcd;

$palmer_sighting: #6f8d5c;
$palmer_sighting_previous: #b7c6ad;

$farm-border-radius:10px;
// IMPORTS


// MIXINS
@mixin sans-serif-type(){
	font-family:"Arial", sans-serif;
	font-size: 14px;
	line-height:1.3em;
}

@mixin backrow(){
	z-index:900;
}

@mixin frontrow(){
	z-index:1250;
}

@mixin notooltip(){
	[data-tooltip]::before{
		display:none;
	}
}

@mixin showtooltip(){
	[data-tooltip]::before{
		display:block;
	}
}
@import "plants";
@import "keys";
@import "animations";
@import "tooltip";

[data-tooltip]::before{
	width: auto;
	left:129%;
	bottom: 60%;
	display:none;
}

[data-tooltip="RESISTANT"]::before{
	left:116%;
}

[data-tooltip]::after{
	display:none;
}

[data-tooltip="WEED"], [data-tooltip="DEAD WEED"], [data-tooltip="RESISTANT"]{
	&::before{
		background-color:$weed_label_color;
	}
}

@import "jquery.makePanels.1.4";
.panel{
	background:transparent;
}

.go-panels {
	.panel-nav{
	border-bottom:none;
	}
	.panels{
		padding-top:0;
	}
}

html, body{background:white;}
.advert{margin-bottom: 25px;}

.keep-scrolling-wrapper{
	border-top:2px solid white;
	background: $corn_color;
    padding: 10px;
    margin-top: 0;
    border-radius: 0 0 $farm-border-radius $farm-border-radius;
	p{
		margin-bottom:5px;
		@include sans-serif-type();
	}
}
.pulse-arrow{
	position: relative;
    background: black;
    width: 25px;
    height: 25px;
    display: inline-block;
    color: $corn_color;
    border-radius: 50%;

	&:before{
			content: "x";
			font-family: trb_Icons;
			font-size:15px;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			animation-name: pulse-down;
			animation-duration: 3s;
			animation-iteration-count: infinite;

	}
}

.farm-outer{
	width:$farm_width_large;
	transition: all 150ms;
	overflow: hidden;
	&.sticky{
		position: fixed;
		top:42px;
	}
	.farm-inner{
		width:100%;
		height:0;
		padding-bottom: 61%; 
		overflow: hidden;
		// margin-bottom: 35px;
		margin-top:10px;
		background: url('../img/farm-base2.png') #eee;
		background-size: cover;
		position:relative;
		border-radius: $farm-border-radius $farm-border-radius 0 0;


	}
}

.animation-component{
	opacity:0;
	transition:opacity 200ms ease;
	position:absolute; 
}
#sprayer{
	width:189px;
	top:35%;
	left:45%;
	z-index:1100;
}
#sprayer-spray {
	margin-left: 53.7%;
	margin-top: 9.7%;
	z-index:1300;
}

%bird{
	@extend .animation-component;
	width:27px;
	height:27px;
	background: url('../img/birds.png') no-repeat;
	top: 31%;
	left: 92%;
}

#bird1{
	@extend %bird;
	background-position:0 4px;
}
#bird2{
	@extend %bird;
	background-position:-29px 4px;
}
#bird3{
	@extend %bird;
	background-position:-58px 4px;
}
#bird4{
	@extend %bird;
	background-position:-84px 4px;
}
#bird5{
	@extend %bird;
	background-position:-113px 4px;
}
#bird6{
	@extend %bird;
	background-position:-141px 4px;
}

#seed, #seed2, #seed3, #seed4{
	// width:10px;
	opacity:0;
	width:20px;
}

#tree{
	opacity:1;
	top: 26%;
	left: 89%;
}
#truck{
	// opacity:1;
	top:104%;
}

// %plant{
// 	@extend .animation-component;
// 	background-image: url("../img/plants.png");
// 	background-repeat:no-repeat;
// 	width: 67px;
// 	height: 113px;
// 	opacity:0;
// 	// border:1px solid blue;
// }

// $alive_y:-9px;
// $dead_y:-115px;

// %corn{
// 	@extend %plant;
// 	width:66px;
// 	height:116px;
// 	background-position: -328px $alive_y;
// }

// %weed1{
// 	@extend %plant;
// 	background-position: -88px $alive_y;
// 	height: 122px;
// 	width:68px;
// }

// %weed2{
// 	@extend %plant;	
// 	background-position: -247px $alive_y;
// 	width:72px;
// }

// %weed3{
// 	@extend %plant;
// 	background-position: -3px top;
// 	width:71px;
// 	height:125px;
// }

// %corn_dead{
// 	@extend %plant;
// 	background-position: -328px -125px;
// }

// %weed1_dead{
// 	@extend %plant;
// 	background-position: -84px -123px;
// 	height: 122px;
// 	width:68px;
// }

// %weed2_dead{
// 	@extend %plant;	
// 	background-position: -247px -125px;
// 	width:72px;
// }

// %weed3_dead{
// 	@extend %plant;
// 	background-position: -3px -128px;
// 	width:71px;
// }

// .alive{
// 	.corn1{
// 		@extend %corn;
// 		@include frontrow();	
// 		top:68%;
// 		left:1%;
// 	}

// 	.corn2{
// 		@extend %corn;
// 		@include backrow();	
// 		top: 43%;
// 		left: 11%;
// 	}

// 	.corn3{
// 		@extend %corn;
// 		@include backrow();
// 		top: 31%;
// 		left: 31.5%;
// 	}

// 	.corn4{
// 		@extend %corn;
// 			top: 17%;
// 		left: 51%;

// 	}

// 	.corn5{
// 		@extend %corn;
// 		@include frontrow();
// 		top: 50%;
// 		left: 32%;

// 	}

// 	.corn6{
// 		@extend %corn;
// 		top: 27.5%;
// 		left: 53.9%;
// 	}


// 	.weed1{
// 		@extend %weed1;
// 		@include frontrow();
// 		top: 62%;
// 		left: 11%;
// 	}

// 	.weed2{
// 		@extend %weed2;
// 		top: 49%;
// 		left: .5%;
// 		@include backrow();
// 	}

// 	.weed3{
// 		@extend %weed3;
// 		top: 53%;
// 		left: 31%;
// 	}

// 	.weed4{
// 		@extend %weed1;
// 		top:1%;
// 		left:1%;
// 	}

// 	.weed5{
// 		@extend %weed2;
// 		top: 37.5%;
// 		left: 21%;
// 	}

// 	// .weed6{
// 	// 	@extend %weed3;
// 	// 	top: 17%;
// 	// 	left: 51%;
// 	// }

// 	.weed7{
// 		@extend %weed1;
// 		@include frontrow();
// 		top: 56.2%;
// 		left: 21%;
// 	}

// 	.weed8{
// 		@extend %weed2;
// 		top:1%;
// 		left:1%;
// 	}

// 	.weed9{
// 		@extend %weed3;
// 		top: 23.5%;
// 		left: 41%;
// 	}

// 	.weed10{
// 		@extend %weed1;
// 		top: 44%;
// 		left: 42%;
// 	}

// 	.weed11{
// 		@extend %weed2;
// 		top: 32%;
// 		left: 62%;
// 	}

// 	// .weed12{
// 	// 	@extend %weed3;
// 	// 	@include frontrow();
// 	// 	top: 48%;
// 	// 	left: 31%;
// 	// }
// 	.weed13{
// 		@extend %weed1;
// 		top: 37.3%;
// 		left: 53%;
// 	}

// }

// .dead{
// 	.corn1{
// 		@extend %corn_dead;
// 		@include frontrow();		
// 		top:68%;
// 		left:1%;

// 	}

// 	.corn2{
// 		@extend %corn_dead;
// 		@include backrow();	
// 		top: 43%;
// 		left: 11%;
// 	}

// 	.corn3{
// 		@extend %corn_dead;
// 		@include backrow();
// 		top: 31%;
// 		left: 31.5%;
// 	}

// 	.corn4{
// 		@extend %corn_dead;
// 		top: 27.5%;
// 		left: 53.9%;
// 	}

// 	.weed1{
// 		@extend %weed1_dead;
// 		@include frontrow();
// 		top: 62%;
// 		left: 11%;
// 	}

// 	.weed2{
// 		@extend %weed2_dead;
// 		top: 49%;
// 		left: .5%;

// 	}

// 	.weed3{
// 		@extend %weed3_dead;
// 		top: 53%;
// 		left: 31%;
// 	}

// 	.weed4{
// 		@extend %weed1_dead;
// 		top:1%;
// 		left:1%;
// 	}

// 	.weed5{
// 		@extend %weed2_dead;
// 		top: 37.5%;
// 		left: 21%;
// 	}

// 	.weed6{
// 		@extend %weed3_dead;
// 		top: 17%;
// 		left: 51%;
// 	}

// 	.weed7{
// 		@extend %weed1_dead;
// 		@include frontrow();
// 		top: 56.2%;
// 		left: 21%;
// 	}

// 	.weed8{
// 		@extend %weed2_dead;
// 		top:1%;
// 		left:1%;
// 	}

// 	.weed9{
// 		@extend %weed3_dead;
// 		top: 23.5%;
// 		left: 41%;
// 	}

// 	.weed10{
// 		@extend %weed1_dead;
// 		top: 44%;
// 		left: 42%;
// 	}

// 	.weed11{
// 		@extend %weed2_dead;
// 		top: 32%;
// 		left: 62%;
// 	}

// 	.weed12{
// 		@extend %weed3_dead;
// 		@include frontrow();
// 		top: 48%;
// 		left: 31%;
// 	}
// 	.weed13{
// 		@extend %weed1_dead;
// 		top: 37.3%;
// 		left: 53%;
// 	}

// }
%can{
	@extend .animation-component;
	background:url('../img/canisters2.png') top no-repeat;
	width: 45px;
	height:70px;
	background-size: 385%;
	z-index:1100;

}

#can1{
	@extend %can;
	background-position: (4px,0);
}

#can2{
	@extend %can;
	background-position: (-40px,0);
}

#can3{
	@extend %can;
	background-position: (-85px,0);
}

#can4{
	@extend %can;
	background-position: (-129px,0);
}

.scroller-outer{
	// width:100%-$farm_width;
	margin-left:$farm_width_large;
	background: white;
	.scroller-inner{
		padding-left:15px;
	}
}


#intro{
	h1{
		margin-top:0;
		font-size:40px;
	}

	h2{
		font-size:20px;
		font-weight:normal;
	}
}

.blurb-wrapper{
	// margin-bottom:25px;
	padding:15px 15px 20px 15px;
	border-bottom:1px solid #aaa;
	transition: all 350ms;
	background: transparent;
	.farm-wrapper{display:none;}
	.blurb-label{
		position: relative;
		&:before{
			content: "v";
			font-family: trb_Icons;
			font-size:26px;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			margin:-.04em 0 0 0;
			opacity: 0;
			transition: all 300ms;
			-webkit-transition: all 300ms;
			position: absolute;
			// animation-name: pulse-to-left;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}
	&.active{
		background: $blurb_wrapper_bg;
		transition: all 200ms;
		.blurb-label{
			&:before{
				margin-left:-30px;
				opacity: 1;
				transition: all 300ms;
				-webkit-transition: all 300ms;
			}
		}
	}
	
	p{
		margin: 8.5px 0 0 0;
	}
	&:last-child{
		margin-bottom:25px;
		// padding-bottom:0;
		border-bottom: none;
	}
}

.credits{
	p{
		margin-bottom: 22px;
		font-size: 12px;
		line-height: 1.3em;
	}
}

figure.chart-wrapper{
	padding:0 0 0 0;
	margin: 20px auto 0 auto;
	border:none;
	.note{
		@include sans-serif-type();
		font-size: 12px;
		color:#aaa;
	}
	.chart-label{
		@include sans-serif-type();
		font-weight: bold;
		margin:0;
	}
	.chart-sub-label{
		@extend .chart-label;
		font-weight: normal;
		font-style: italic;

	}

	.chart{
		border:1px solid black;
		margin-top:10px;
	}

 .g-aiPstyle0 {
    line-height: 25px;
}
#g-glyphosate-ready-desktop{overflow:visible;}
}
#ht-planted-chart{max-width:400px;}

#resistance-spreads-map{
	.box.sighting{
		background-color: $palmer_sighting;
	}
	.box.previous{
		background-color: $palmer_sighting_previous;
	}

}

@media all and (max-width:1200px){
	@import "_max_width_1200px";
}

@media all and (max-width:991px){
	@import "_max_width_991px";
}

@media all and (max-width: 767px){
	@import "_max_width_767px";

}