// VARIABLES 
$farm_width_large:700px;
$farm_width_medium:500px;
$farm_width_small:400px;

$corn_color: #FFD773;
$soy_color: #6F8D5C;
$cotton_color: #DFDFDF;
$weed_label_color:rgba(255,0,0,.7);

$blurb_wrapper_bg:#ffffcd;

$palmer_sighting: #6f8d5c;
$palmer_sighting_previous: #b7c6ad;

$farm-border-radius:10px;
// IMPORTS


// MIXINS
@mixin sans-serif-type(){
	font-family:"Arial", sans-serif;
	font-size: 14px;
	line-height:1.3em;
}

@mixin backrow(){
	z-index:900;
}

@mixin frontrow(){
	z-index:1250;
}

@mixin notooltip(){
	[data-tooltip]::before{
		display:none;
	}
}

@mixin showtooltip(){
	[data-tooltip]::before{
		display:block;
	}
}
@import "plants";
@import "keys";
@import "animations";
@import "tooltip";

[data-tooltip]::before{
	width: auto;
	left:129%;
	bottom: 60%;
	display:none;
}

[data-tooltip="RESISTANT"]::before{
	left:116%;
}

[data-tooltip]::after{
	display:none;
}

[data-tooltip="WEED"], [data-tooltip="DEAD WEED"], [data-tooltip="RESISTANT"]{
	&::before{
		background-color:$weed_label_color;
	}
}

@import "jquery.makePanels.1.4";
.panel{
	background:transparent;
}

.go-panels {
	.panel-nav{
	border-bottom:none;
	margin-bottom:15px;
	.panelButton{
		background:transparent;
		border: 1px solid #aaa; 
		padding-left: 0;
		padding-right: 0;
		width: 50%;
		&:hover{
			background:#ddd;
		}
		&.active{
			background:#aaa;
			border-left:none;
			border-right:none;
		}
	}
	}
	.panels{
		padding-top:0;
	}
}

.panel:last-child{
	margin-bottom: 0px;
border-bottom: 0px none;
padding-bottom: 0px;
}

html, body{background:white;}
body:not([data-triggered="intro"]){
	.farm-inner{border-radius:$farm-border-radius;}

}
.advert{margin-bottom: 25px;}

.keep-scrolling-wrapper{
	border-top:2px solid white;
	background: $corn_color;
    padding: 10px;
    margin-top: 0;
    border-radius: 0 0 $farm-border-radius $farm-border-radius;
	p{
		margin-bottom:5px;
		@include sans-serif-type();
	}
}
.pulse-arrow{
	position: relative;
    background: black;
    width: 25px;
    height: 25px;
    display: inline-block;
    color: $corn_color;
    border-radius: 50%;

	&:before{
			content: "x";
			font-family: trb_Icons;
			font-size:15px;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			animation-name: pulse-down;
			animation-duration: 3s;
			animation-iteration-count: infinite;

	}
}

.farm-outer{
	width:$farm_width_large;
	transition: all 150ms;
	overflow: hidden;
	&.sticky{
		position: fixed;
		top:42px;
	}
	.farm-inner{
		width:100%;
		height:0;
		padding-bottom: 61%; 
		overflow: hidden;
		// margin-bottom: 35px;
		margin-top:10px;
		background: url('../img/farm-base2.png') #eee;
		background-size: cover;
		position:relative;
		border-radius: $farm-border-radius $farm-border-radius 0 0;


	}
}

.animation-component{
	opacity:0;
	transition:opacity 200ms ease;
	position:absolute; 
}
#sprayer{
	width:189px;
	top:35%;
	left:45%;
	z-index:1100;
}
#sprayer-spray {
	margin-left: 53.7%;
	margin-top: 9.7%;
	z-index:1300;
}

%bird{
	@extend .animation-component;
	width:27px;
	height:27px;
	background: url('../img/birds.png') no-repeat;
	top: 31%;
	left: 92%;
}

#bird1{
	@extend %bird;
	background-position:0 4px;
}
#bird2{
	@extend %bird;
	background-position:-29px 4px;
}
#bird3{
	@extend %bird;
	background-position:-58px 4px;
}
#bird4{
	@extend %bird;
	background-position:-84px 4px;
}
#bird5{
	@extend %bird;
	background-position:-113px 4px;
}
#bird6{
	@extend %bird;
	background-position:-141px 4px;
}

#seed, #seed2, #seed3, #seed4{
	// width:10px;
	opacity:0;
	width:20px;
}

#tree{
	opacity:1;
	top: 26%;
	left: 89%;
}
#truck{
	// opacity:1;
	top:104%;
}

%can{
	@extend .animation-component;
	background:url('../img/canisters2.png') top no-repeat;
	width: 45px;
	height:70px;
	background-size: 385%;
	z-index:1100;

}

#can1{
	@extend %can;
	background-position: (4px,0);
}

#can2{
	@extend %can;
	background-position: (-40px,0);
}

#can3{
	@extend %can;
	background-position: (-85px,0);
}

#can4{
	@extend %can;
	background-position: (-129px,0);
}

.scroller-outer{
	// width:100%-$farm_width;
	margin-left:$farm_width_large;
	background: white;
	.scroller-inner{
		padding-left:15px;
	}
}


#intro{
	h1{
		margin-top:0;
		font-size:40px;
	}

	h2{
		font-size:20px;
		font-weight:normal;
	}
}

.blurb-wrapper{
	// margin-bottom:25px;
	padding:15px 15px 20px 15px;
	border-bottom:1px solid #aaa;
	transition: all 350ms;
	background: transparent;
	.farm-wrapper{display:none;}
	.blurb-label{
		position: relative;
		&:before{
			content: "v";
			font-family: trb_Icons;
			font-size:26px;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			margin:-.04em 0 0 0;
			opacity: 0;
			transition: all 300ms;
			-webkit-transition: all 300ms;
			position: absolute;
			// animation-name: pulse-to-left;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	}
	&.active{
		background: $blurb_wrapper_bg;
		transition: all 200ms;
		.blurb-label{
			&:before{
				margin-left:-30px;
				opacity: 1;
				transition: all 300ms;
				-webkit-transition: all 300ms;
			}
		}
	}
	
	p{
		margin: 8.5px 0 0 0;
	}
	&:last-child{
		margin-bottom:25px;
		// padding-bottom:0;
		border-bottom: none;
	}
}

.credits{
	p{
		margin-bottom: 22px;
		font-size: 12px;
		line-height: 1.3em;
	}
}

figure.chart-wrapper{
	padding:0 0 0 0;
	margin: 20px auto 0 auto;
	border:none;
	.note{
		@include sans-serif-type();
		font-size: 12px;
		color:#aaa;
	}
	.chart-label{
		@include sans-serif-type();
		font-weight: bold;
		margin:0;
	}
	.chart-sub-label{
		@extend .chart-label;
		font-weight: normal;
		font-style: italic;

	}

	.chart{
		border:1px solid black;
		margin-top:10px;
	}

 .g-aiPstyle0 {
    line-height: 25px;
}
#g-glyphosate-ready-acres, #g-glyphosate-ready-percentage{overflow:visible;}
}
#ht-planted-chart{max-width:400px;}

#resistance-spreads-map{
	.box.sighting{
		background-color: $palmer_sighting;
	}
	.box.previous{
		background-color: $palmer_sighting_previous;
	}

}

.related-items{
	padding:25px 0;
	margin:25px 0;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}

@media all and (max-width:1200px){
	@import "_max_width_1200px";
}

@media all and (max-width:991px){
	@import "_max_width_991px";
}

@media all and (max-width: 767px){
	@import "_max_width_767px";

}