// Base on http://cbracco.me/a-simple-css-tooltip/


/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  // z-index: 2;
  cursor: pointer;
  // transform:scale(0,.2)
}

// /* Hide the tooltip content by default */
// [data-tooltip]:before,
// [data-tooltip]:after {
//   visibility: hidden;
//   // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
//   opacity: 0;
//   pointer-events: none;
// }

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  // bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  // margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  // #####
  bottom:133%;
  margin-left: -85px;
transform:scale(1,0);
transform:translate(0,50%);
transition: all 500ms ease;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  // bottom: 150%;
  left: 50%;
  // margin-left: -5px;
  width: 0;
  // border-top: 5px solid #000;
  // border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  // border-right: 5px solid transparent;
  // border-left: 5px solid transparent;
  // #####
  bottom:113%;
  margin-left: -10px;
  border-top: 14px solid #000;
  border-top: 14px solid hsla(0, 0%, 20%, 0.9);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  
  content: " ";
  font-size: 0;
  line-height: 0;
  transform:scale(1,0);
  transform:translate(0,100%);
  transition: all 250ms ease;
}

/* Show tooltip content on hover */
[data-tooltip]:before{
  visibility: visible;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transform:scale(1);
  transform:translate(0);
  transition: all 250ms ease;
}

[data-tooltip]:after {
  visibility: visible;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transform:scale(1);
  transform:translate(0);
  // transition-delay:250ms;
  transition: all 250ms ease;
}